# Notebok di split

In [2]:
!pip install -r requirements.txt

Requirement already satisfied: numpy==1.18.1 in c:\users\david\anaconda3\lib\site-packages (from -r requirements.txt (line 1)) (1.18.1)
Requirement already satisfied: pandas==1.0.3 in c:\users\david\anaconda3\lib\site-packages (from -r requirements.txt (line 2)) (1.0.3)
Requirement already satisfied: scikit-learn==0.23.1 in c:\users\david\anaconda3\lib\site-packages (from -r requirements.txt (line 3)) (0.23.1)
Requirement already satisfied: seaborn==0.10.1 in c:\users\david\anaconda3\lib\site-packages (from -r requirements.txt (line 4)) (0.10.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\david\anaconda3\lib\site-packages (from pandas==1.0.3->-r requirements.txt (line 2)) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\david\anaconda3\lib\site-packages (from pandas==1.0.3->-r requirements.txt (line 2)) (2020.1)
Requirement already satisfied: scipy>=0.19.1 in c:\users\david\anaconda3\lib\site-packages (from scikit-learn==0.23.1->-r requirements.txt (line 3)) (1.4.1)
Requirement already satisfied: joblib>=0.11 in c:\users\david\anaconda3\lib\site-packages (from scikit-learn==0.23.1->-r requirements.txt (line 3)) (0.15.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\david\anaconda3\lib\site-packages (from scikit-learn==0.23.1->-r requirements.txt (line 3)) (2.0.0)
Requirement already satisfied: matplotlib>=2.1.2 in c:\users\david\anaconda3\lib\site-packages (from seaborn==0.10.1->-r requirements.txt (line 4)) (3.1.3)
Requirement already satisfied: six>=1.5 in c:\users\david\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas==1.0.3->-r requirements.txt (line 2)) (1.14.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\david\anaconda3\lib\site-packages (from matplotlib>=2.1.2->seaborn==0.10.1->-r requirements.txt (line 4)) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\david\anaconda3\lib\site-packages (from matplotlib>=2.1.2->seaborn==0.10.1->-r requirements.txt (line 4)) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\users\david\anaconda3\lib\site-packages (from matplotlib>=2.1.2->seaborn==0.10.1->-r requirements.txt (line 4)) (0.10.0)

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
data = pd.read_csv('appointment_data.csv')
data

,No-show,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,No,1.328492e+12,5687610,F,2016-05-11T16:00:16Z,2016-05-19T00:00:00Z,25,MATA DA PRAIA,0,0,0,0,0,0
1,No,3.881869e+14,5694484,M,2016-05-13T08:41:27Z,2016-05-17T00:00:00Z,62,FRADINHOS,0,0,0,0,0,0
2,Yes,9.118992e+12,5500939,F,2016-03-22T11:09:38Z,2016-05-09T00:00:00Z,65,JARDIM CAMBURI,0,0,0,0,0,0
3,No,1.843618e+14,5639080,M,2016-04-29T08:42:15Z,2016-04-29T00:00:00Z,41,MARIA ORTIZ,0,0,0,0,0,0
4,No,5.783198e+13,5671566,M,2016-05-06T18:47:52Z,2016-05-09T00:00:00Z,61,MARUÍPE,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88416,No,4.876245e+11,5664593,F,2016-05-05T12:58:06Z,2016-05-10T00:00:00Z,63,SÃO PEDRO,0,1,1,0,0,1
88417,No,3.911649e+12,5622779,M,2016-04-26T13:03:23Z,2016-06-01T00:00:00Z,31,MARIA ORTIZ,0,0,0,0,0,0
88418,No,4.973443e+11,5762864,F,2016-06-02T08:16:03Z,2016-06-08T00:00:00Z,38,ANDORINHAS,0,0,0,0,0,0
88419,No,2.623493e+14,5639951,F,2016-04-29T09:52:19Z,2016-04-29T00:00:00Z,18,MARUÍPE,1,0,0,0,0,0
88420,No,1.821131e+14,5637593,M,2016-04-29T07:10:42Z,2016-05-11T00:00:00Z,9,ILHA DO PRÍNCIPE,1,0,0,0,0,1

## Prima analisi preliminare

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88421 entries, 0 to 88420
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   No-show         88421 non-null  object
 1   PatientId       88421 non-null  float64
 2   AppointmentID   88421 non-null  int64
 3   Gender          88421 non-null  object
 4   ScheduledDay    88421 non-null  object
 5   AppointmentDay  88421 non-null  object
 6   Age             88421 non-null  int64
 7   Neighbourhood   88421 non-null  object
 8   Scholarship     88421 non-null  int64
 9   Hipertension    88421 non-null  int64
 10  Diabetes        88421 non-null  int64
 11  Alcoholism      88421 non-null  int64
 12  Handcap         88421 non-null  int64
 13  SMS_received    88421 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 9.4+ MB

In [6]:
data.dtypes

No-show            object
PatientId         float64
AppointmentID       int64
Gender             object
ScheduledDay       object
AppointmentDay     object
Age                 int64
Neighbourhood      object
Scholarship         int64
Hipertension        int64
Diabetes            int64
Alcoholism          int64
Handcap             int64
SMS_received        int64
dtype: object

In [7]:
data.nunique()

No-show               2
PatientId         54105
AppointmentID     88421
Gender                2
ScheduledDay      83840
AppointmentDay       27
Age                 103
Neighbourhood        81
Scholarship           2
Hipertension          2
Diabetes              2
Alcoholism            2
Handcap               5
SMS_received          2
dtype: int64

In [8]:
data.isnull().sum(axis = 0)

No-show           0
PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
dtype: int64

# Split dei dati e creazione file .csv

In [9]:
y = data['No-show']
data = data.drop(labels=['No-show'], axis=1)

In [10]:
train_data, test_data, y_train, y_test = train_test_split(data, y, train_size=0.8, test_size=0.2,)

In [11]:
train = pd.concat([train_data, y_train], axis=1)
test = pd.concat([test_data, y_test], axis=1)

In [12]:
train.to_csv('train.csv', index=False)
test.to_csv('test.csv', index=False)